__pycache__
*.pyc
*.pyo
*.pyd
.env
fraud_venv/
.git
.gitignore
notebooks/
artifacts/data.csv
artifacts/test.csv
artifacts/train.csv
artifacts/val.csv


*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

eggs/
.eggs/
*.egg-info/
*.egg


notebook/data/
mlruns/

